@model SampleMVCCore.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample ASP.Net Core App</title>
</head>
<body>
    <div>
        <strong>NetID: </strong> @Model.NetID<br />
        <strong>wiscEduPVI: </strong> @Model.wiscEduPVI<br />
    </div>
</body>
</html>
